*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: middle;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}
.clr{
    clear: both;
}

.flex{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}
.align_item{
    align-items: flex-end;
}
.justify_center{
    justify-content: center;
}

.justify_end{
    justify-content: end;
}
.align_center{
    align-items: center;
}
.text_center{
    text-align: center;
}
.justify_btwn{
    justify-content: space-between;
}
.m_auto{
    margin: 0 auto;
}

.px{
    padding-left: 15px;
    padding-right: 15px;
}
/* common css end */

/* menu part start */


#menu{
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.main_menu ul li a{
    color: #fff;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 400;
}

/* menu part end */


/* banner part start */

#banner{
    padding: 200px 0;
}
.banner_text{
    width: 550px;
    color: #f1f1f1;

}

.banner_text h1{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Raleway';
}

.banner_text a{
    padding: 20px 37px;
    background:#c1b163;
    color: #fff;
    margin-top: 32px;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Raleway';
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button a{
    margin-right: 20px;
}
.button a:hover{
    background-color: #242522;
}
/* banner part end */


/* food part start */
#food{
    padding-top: 20px;
    
}
.food_text{
    padding-top: 60px;
    width: 50%;
}
.food_img{
    padding-top: 60px;
    width: 50%;
}
.food_text h2{
    font-size: 36px;
    color: #cc9900;
    font-weight: 600;
    font-family: 'Yeseva One', cursive;
}
.food_text p{
    padding-top: 30px;
    width: 400px;
    text-align: center;
    margin-left: 80px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;

}
.cook_img{
    padding-top: 30px;
}
.food_img img{
    width: 100%;
    max-width: 100%;
}
/* food part end */


/* Ingridients part start */

#ingridient{
    padding: 100px 0;
     
}

.ingri_text{
    width: 450px;
    margin-left: 550px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 25px 50px 15px; 
    min-height: 500px;
    
}

.ingri_text h4{
    color: #f1f1f1;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
    padding-bottom: 20px;
    padding-left: 40px;
    
    
}
.ingri_text p{
    font-size: 16px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    
    
}
.sym_img img{
    margin-left: 60px;
}
.ingr_img img{
    margin-right: 15px;

    
}

/* Ingridients part end */

/* Menu part start */

#menu_part{
    padding-top: 60px 
}

.menu_col{
    width: 50%;
    min-height: 200px;

}
.menu_col h4{
    font-size: 36px;
    color: #cc9900;
    text-align: center;
}
.menu_col h6{
    font-size: 25px;
    color: #cc9900;
}
.span{
    padding-right: 30px;
}
.menu_col img{
    margin-left: 160px;
}
/* Menu part end */
